@media (max-width: 767px) {
        .___main{
            display:inline !important;
        }
        ._side{
            display:none !important;
        }
        .__main__{
            width:100% !important;
            padding:20px;
            margin:0px !important;
            border-radius:10px !important;
        }
        .main-content.custom {
            padding-top: 10px !important;
        }
        ._sbmt_{
            width:100%;
        }
    }
    .breadcrumb {
        background-color: inherit !important;
        margin-bottom: 0px !important;
    }
    .breadcrumb-item + .breadcrumb-item::before {
        content: "|" !important;
        /* margin: 20px !important; */
    }
    .navbar{
        left:0px !important;
    }
    .main-content.custom {
        padding-top: 30px !important;
        margin-top:70px;
    }
    .main-content.custom {
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
        position: relative;
    }
    .__main__ {
        background-color: white;
        border-radius: 0px 10px 10px 0px;
        padding: 30px;
        border:1px solid rgb(103, 119, 239);
    }
    .__main_body{
        margin-top:20px;
    }
    label,
    .__main_caption{
        font-weight:400;
        font-size:14px;
    }
    .row.custom{
        padding:20px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .mb-20 {
        margin-bottom: 20px;
    }
    .mt-10 {
        margin-top: 40px;
    }
    ._sub_side{
        padding:20px;
        height:90%;
        background-color: rgba(0, 0, 0, .2);
        z-index:1;
        border-radius:10px 0px 0px 10px;
        color: white;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .__sub_sub{
        margin:10px 0px;
        font-weight:400;
    }
    ._side{
        border-radius:10px 0px 0px 10px;
        /*background-color: rgb(103, 119, 239, 0.9);*/
        background-color: rgb(103, 119, 239);
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .___main{
        display:flex;
        padding:20px;
    }
    ._sub_link{
        margin-top:20px;
    }
    
    .__main_body{
        color:black !important;
    }